/* Start Variabels  */
:root {
    --main-color: #10cab7;
    --second-color: #2c4755;
    --section-padding: 60px;
}
/* End Variabels  */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: "Work Sans", sans-serif;
}
html {
    scroll-behavior: smooth;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
/* Small */
@media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* End Global Rules */
/* Start Components */
.container .special-heading {
    font-weight: 800;
    color: #ebeced;
    text-align: center;
    font-size: 100px;
    letter-spacing: -3px;
    margin: 0px;
}
.special-heading + p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
  }
  @media (max-width: 768px) {
    .special-heading {
      font-size: 60px !important;
    }
    .special-heading + p {
      margin-top: -20px;
    }
}
/* End Components */
/* Start Header */
.header {
    padding: 20px;
}
.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header .logo {
    width: 60px;
}
.header .links {
    position: relative;
}
.header .links:hover .icon span:nth-child(2) {
    width: 100%;
}
.header .links .icon {
    display: flex;
    flex-wrap: wrap;
    width: 30px;
    justify-content: flex-end;
}
.header .links .icon span {
    background-color: #222;
    height: 2px;
    margin-bottom: 5px;
}
.header .links .icon span:first-child {
    width: 100%;
}
.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}
.header .links .icon span:last-child {
    width: 100%;
}
.header .links ul {
    background-color: #f6f6f6;
    list-style: none;
    margin: 0px;
    padding: 0px;
    min-width: 200px;
    position: absolute;
    right: 0%;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
.header .links:hover ul {
    display: block;
}
.header .links ul::before {
    content: '';
    border: solid 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}
.header .links ul a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: 0.3s;
}
.header .links ul a:hover {
    padding-left: 25px;
}
.header .links ul li:not(:last-child) a {
    border-bottom: solid 1px #ddd;
}
/* End Header */
/* Start Landing */
.landing {
    background-image: url(../images/landing.jpg);
    background-size: cover;
    height: calc(100vh - 64px);
    position: relative;
}
.landing .intro-text{
position: absolute;
left: 50%;
top: 50%;
transform: translate(-50%, -50%);
text-align: center;
width: 320px;
max-width: 100%;
}
.landing .intro-text h1 {
    margin: 0px;
    font-size: 50px;
    font-weight: bold;
    color: var(--main-color);
}
.landing .intro-text p {
    font-size: 20px;
    line-height: 1.8;
}
/* End Landing */
/* Star Features */
.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.features .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;    

}
.features .container .feat {
    text-align: center;
}
.features .container .feat i {
    color: var(--main-color);
    font-size: 30px;
}
.features .container .feat h3 {
    font-weight: 800px;
}
.features .container .feat p {
    line-height: 1.8;
    color: #777;
    font-size: 17px;
}
/* End Features */
/* Start Services */
.services {
    padding-top: 60px;
    padding-bottom: 60px;
}
.services .service-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;  
    margin-top: 100px;
}
.services .service-content .serv {
    display: flex;
    margin-bottom: 40px;
}
@media (max-width: 767px) {
    .services .service-content .serv {
    flex-direction: column;
    text-align: center;
}
}
.services .service-content .serv i {
    color: var(--main-color);
    flex-basis: 60px;
    font-size: 2em;
}
.services .service-content .text {
 flex: 1;
}
.services .service-content .serv h3 {
    margin-top: 0px;
}
.services .service-content .serv p {
    color: #777;
    line-height: 1.6;
    font-weight: 400;
}
.services .service-content .image {
    text-align: center;
    position: relative;
    z-index: 1;
}
.services .service-content .image::after {
    top: -50px;
    content: "";
    position: absolute;
    right: 0px;
    width: 100px;
    height: calc(100% + 100px);
    background-color: var(--second-color);
    z-index: -1;
}
.services .service-content .image img {
    width: 260px;
}
@media (max-width: 1199px) {
    .good-image {
        display: none;
    }
}
/* End Services */
/* Start Portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
}
.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;  
    margin-top: 80px;
}
.portfolio .portfolio-content .card {
    background-color: white;
}
.portfolio .portfolio-content .card img {
    max-width: 100%;
}
.portfolio .portfolio-content .card .info {
     padding: 20px;
}
.portfolio .portfolio-content .card h3 {
    margin: 0px;
}
.portfolio .portfolio-content .card p {
    color: #777;
    line-height: 1.6;
    margin-bottom: 0px;
}
/* End Portfolio */
/* Start About */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}
.about-content {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-content .image {
    position: relative;
    width: 250px;
    height: 375px;
}
@media (max-width:991px) {
    .about-content .image {
        margin: 0 auto 60px;
    }
}
.about-content .image img {
    max-width: 100%;
}
.about-content .image::before {
    content: '';
    position: absolute;
    left: -20px;
    z-index: -1;
    top: -40px;
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
}
.about-content .image::after {
    content: '';
    position: absolute;
    top: -40px;
    right: -150px;
    width: 80px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    z-index: -1;
}
.about-content .right-col {
    flex-basis: calc(100% - 500px);
}
@media (max-width:991px) {
    .about-content {
        flex-direction: column;
        text-align: center;
    }
    .about-content .image::after {
        display: none;
    }
}
.about-content hr {
    background-color: var(--main-color);
    height: 1px;
    width: 50%;
    display: inline-block;
}
.about-content .one {
    font-weight: bold;
    line-height: 2;
    padding-bottom: 50px;
    margin-top: 30px;
}
.about-content .two {
    line-height: 2;
    padding-bottom: 50px;
    margin-top: 30px;
    color: #777;
}
/* End About */
/* Start Contact */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: #f6f6f6;
    margin: 0px;
}
.contact .contact-content {
    text-align: center;
    margin-top: 100px;
}
.contact .contact-content h2 {
    color: var(--second-color);
    font-weight: 800;
    letter-spacing: -2px;
    font-size: 35px;
    margin-bottom: 15px;
}
.contact .contact-content a {
    color: var(--main-color);
    font-weight: 800;
    margin-bottom: 15px;
    text-decoration: none;
    font-size: 35px;
}
.contact .contact-content .social {
    display: flex;
    justify-content: center;

}
.contact .contact-content p {
    margin-bottom: 15px; 
    color: var(--second-color);
}
@media (max-width: 767px) {
    .contact .contact-content a {
        font-size: 25px;
    }
    .contact .contact-content h2 {
        font-size: 25px;
    }
}
.contact .contact-content i {
    padding-top: 15px;
    color: var(--second-color);
    margin-left: 10px;
}

/* End Contact */
/* Start Footer */
.footer {
    text-align: center;
    background-color: var(--second-color);
    padding: 30px 0 30px;
    color: white;
    font-size: 18px;
}
.footer span {
    font-weight: bold;
    color: var(--main-color);
}
/* End Footer */
